files:
  "/etc/nginx/conf.d/01_security.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Deny access to any files with a .php extension in the uploads directory
      location ~* ^/uploads/.*\.php$ {
          deny all;
      }

      # Hide Nginx version number
      server_tokens off;

      # Block directory traversal attempts
      location ~ \.\./ {
          deny all;
          return 403;
      }

commands:
  remove_default_server_tokens:
    command: "sed -i 's/# server_tokens off;/server_tokens off;/' /etc/nginx/nginx.conf"
